<app-toolbar></app-toolbar>
<app-page-wrapper>
  <div class="container">
    <div class="mb-4">
      <div class="m-3 text-center">
        <h1>Mountain bike Venzo Primal Ex R29 18" 24v color negro/rojo/amarillo</h1>
      </div>
      <div class="w-75 p-3 mx-auto text-center"> <!-- Utilizamos "mx-auto" para centrar horizontalmente -->
        <img src="https://biciurbana.com.ar/11217/bicicleta-venzo-skyline-evo-2023-full-shimano.jpg" class="img-fluid" alt="...">
      </div>
      <h3 >Descripción</h3>
      <p class="card-text">
        La marca Venzo está comprometida a satisfacer las necesidades de cada uno de sus clientes. Para ciclistas de competición, cicloturistas, amateurs o simplemente para quienes utilizan la bici como medio de transporte o de recreación, Venzo busca cumplir sus sueños y brindarles el mejor producto.

          Desafiá tus capacidades
          Las mountain bikes, o bicicletas de montaña son el medio de transporte perfecto para tus aventuras y alcanzar aquellos lugares recónditos que querés conocer. Sus materiales y diseños están pensados para la acción, son resistentes y cuentan con mejor maniobrabilidad que otros modelos brindándote mayor tracción. Además, sus llantas con dibujos marcados favorecen el agarre en terrenos difíciles.

          Diseñada para vos
          Su sistema de suspensión delantera la hace más liviana que aquellas que tienen doble suspensión. Esto se traduce en más velocidad, mejor nivel y mantenimiento sencillo.

          Seguridad y calidad
          Gracias a sus frenos de disco hidráulico podés detener la bicicleta con total precisión cuando lo necesites, ya que tiene una gran potencia; además, su funcionamiento no se ve afectado por cuestiones como la corrosión, las condiciones climáticas o del suelo, ni el estado del aro.
      </p>
    </div>
    </div>
</app-page-wrapper>
<app-footer></app-footer>
